.sitefont {
    font-family: 'Open Sans', sans-serif !important;
}

.iconright {
    position: relative !important;
    top: -25px !important;
    margin-left: 235px !important;
}

.navbar-default .navbar-admin > li > a {
    color: #777777;
}

.navbar-default .navbar-admin > li > a:hover,
.navbar-default .navbar-admin > li > a:focus {
    color: #333333;
    background-color: transparent;
}

.navbar-default .navbar-admin > .active > a,
.navbar-default .navbar-admin > .active > a:hover,
.navbar-default .navbar-admin > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}

#slide-head {
    background-image: url('../Images/Items/Chrysanthemum.jpg');
}

.navbar-default .navbar-admin > .disabled > a,
.navbar-default .navbar-admin > .disabled > a:hover,
.navbar-default .navbar-admin > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-admin {
    margin: 7.5px -15px;
}

.navbar-admin > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: white !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 106px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.col-xs-offset-1 {
    margin-left: 8.333333333333332%;
}

@media only screen and (max-device-width: 480px) {
    #slide-head h1 {
        font-size: 45px;
        text-shadow: 0 3px rgba(0, 0, 0, 0.1);
        color: #fff;
    }
}

@media only screen and (device-width: 320px) {
    .col-xs-offset-1 {
        margin-left: -1.5%;
    }
}
